.container
  .row
    .col-md-12
      h1= name
      p= description

      h2 Gifts

      table.table.table-striped
        thead
          tr
            th Item
            th
        tbody
          each gifts
            tr
              td
                if url
                  a(href=url target="_blank")= name
                else
                  = name
              td
                if buyerId
                  | Already purchased
                else
                  a(href="#" data-purchase-item=_id) Mark as purchased

      h3 Add Gift

      +autoForm collection="Gifts" id="insertGiftForm" type="insert"
        +afQuickField name="name"
        +afQuickField name="description"
        +afQuickField name="price"
        +afQuickField name="url"
        +afQuickField name="listId" type="hidden" value=_id
        button.btn.btn-primary(type="submit") Insert
